@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(2px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes circleAnim {
  0%{
    stroke-dashoffset: 305;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

.container {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.stages{
  width: 50%;
  padding-right: 10%;
}

.stage{
  font-family: Playfair;
  display: flex;
  font-weight: 900;
  justify-content: flex-end;
  align-items: center;
}

.stage:hover{
  cursor: pointer;
}

.stage:hover .stageText{
  color: var(--red);
}

.stage:not(:last-of-type) {
  margin-bottom: 36px;
}

.stageText{
  font-size: 20px;
  padding-right: 36px;
  transition: all 0.35s ease;
}

.stageSwitch{
  height: 72px;
  width: 72px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: all 0.35s ease;
  position: relative;
  user-select: none;
}

.stageSwitch:before{
  content: '';
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  border-radius: 50%;
  transition: opacity 0.35s ease, transform 0s ease 0.35s;
  opacity: 0;
}

.stageSwitchActive{
  color: var(--red);
}

.stageSwitchActive .stageIcon{
  animation: bounce 0.5s ease forwards;
}

.stageIcon{
  position: relative;
  z-index: 2;
}

.stageSwitchActive:before{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: all 0.35s ease;
}

.stageSwitchActive .stageSwitchSvg circle:nth-child(2){
  animation: circleAnim 5s linear forwards;
}

.stageSwitchActive .stageSwitchSvg circle:nth-child(1){
  stroke-opacity: 0;
}

.stageSwitchSvg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotate(-90deg);
}

.stageSwitchSvg circle{
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
}

.stageSwitchSvg circle:nth-child(1){
  stroke: #5C5C8A;
  transition: all 0.35s ease;
}

.stageSwitchSvg circle:nth-child(2){
  stroke: var(--red);
  stroke-dasharray: 305;
  stroke-dashoffset: 305;
}

.slides{
  width: 50%;
  height: 100%;
  position: relative;
}

.slide{
  text-align: left;
  max-width: 480px;
  opacity: 0;
  transition: opacity 0.65s ease;
}

.slideActive{
  opacity: 1;
}

.slideTitle{
  font-family: Playfair;
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 15px;
}

.slideDescription{
  color: var(--purple100);
}

.slideWrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.slideImage{
  max-width: 100%;
  margin-top: 25px;
  margin-left: -20px;
}
