/* Gotham */
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/gotham-book.eot');
  src: url('/fonts/gotham/gotham-book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/gotham/gotham-book.woff') format('woff'),
  url('/fonts/gotham/gotham-book.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/gotham-medium.eot');
  src: url('/fonts/gotham/gotham-medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/gotham/gotham-medium.woff') format('woff'),
  url('/fonts/gotham/gotham-medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/gotham-bold.eot');
  src: url('/fonts/gotham/gotham-bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/gotham/gotham-bold.woff') format('woff'),
  url('/fonts/gotham/gotham-bold.ttf')  format('truetype');
  font-weight: 600;
}

/* Playfair */

@font-face {
  font-family: 'Playfair';
  src: url('/fonts/playfair/playfair-display-black.eot');
  src: url('/fonts/playfair/playfair-display-black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/playfair/playfair-display-black.woff') format('woff'),
  url('/fonts/playfair/playfair-display-black.ttf')  format('truetype');
  font-weight: 900;
}
