html,
body {
  padding: 0;
  margin: 0;
  background: var(--purple);
  font-family: Gotham, SansSerif;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}