.container {
  height: 100vh;
  position: relative;
}

.background{
  position: absolute;
  left: 8%;
  top: 8%;
  width: 84%;
  height: 84%;
}

.sliderWrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}